<!DOCTYPE html>
<html lang="en">
<head>
   <title>Document</title>
</head>
<body>
    <h1>NESTED IF CONDITION</h1>
    {% if a > b %}
        {% if a > c %}
            <h2>{{a}} is max</h2>
        {% else %}
            <h2>{{c}} is max</h2>
        {% endif %}
    {% else %}
        {% if b > c %}
            <h2>{{b}} is max</h2>
        {% else %}
            <h2>{{c}} is max</h2>
        {% endif %}
    {% endif %}



    <h1>FOR LOOP</h1>
    {% for i in name %}
        <h2>{{i}}</h2>
    {% endfor %}
        
</body>
</html>